body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://media.istockphoto.com/id/824845572/photo/thermometer-sun-high-degres-hot-summer-day-high-summer-temperatures.webp?b=1&s=170667a&w=0&k=20&c=8ijy1ixq0ALEpJIt9D4ElKJzayexgzXTDG2ZRCYVfHQ='); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-left: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2aa0a0;
}

h1 {
    color: #cba920;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #6c7a2c;
}

.scale {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 10px;
    text-align: center;
}

.scale h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.scale p {
    font-size: 16px;
}
